<%= stylesheet_link_tag "settings", plugin: "redmine_kroki" %>
<div class="kroki-desc">
  <p>
    <%= l('settings.instructions') %>
  </p>
</div>
<fieldset class="kroki-fieldset">
  <legend class="kroki-legend"><%= l('settings.server.title') %></legend>
  <span class="kroki-textfield">
    <%= label_tag :settings_kroki_url, l('settings.server.url') %>
    <%= text_field_tag "settings[kroki_url]", @settings["kroki_url"] %>
  </span>
</fieldset>
<fieldset class="kroki-fieldset">
  <legend class="kroki-legend"><%= l('settings.display.title') %></legend>
  <span class"kroki-checkbox">
    <%= label_tag :settings_force_dark, l('settings.display.force_dark_mode') %>
    <%= check_box_tag "settings[force_dark]", 1, @settings["force_dark"] %>
  </span>
  <span class="kroki-textfield">
    <%= label_tag :settings_dark_themes, l('settings.display.dark_theme_names') %>
    <%= text_field_tag "settings[dark_themes]", @settings["dark_themes"] %>
  </span>
  <p>
    <small>
      <%= l('settings.display.dark_theme_names_note') %>
    </small>
  </p>
</fieldset>
<fieldset class="kroki-fieldset">
  <legend class="kroki-legend">Mermaid</legend>
  <span class="kroki-textfield">
    <%= label_tag :settings_fontawesome_css, l('settings.display.fontawesome_css_url') %>
    <%= text_field_tag "settings[fontawesome_css]", @settings["fontawesome_css"] || Redmine::Plugin.find(:redmine_kroki).settings[:default]['fontawesome_css'] %>
  </span>
</fieldset>
